<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png"->
<!--link rel="icon" type="image/png" href="/static/assets/img/favicon.png"->
<title>
MSFS Landing Inspector
</title>
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<!-- Nucleo Icons -->
<link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
<!-- CSS Files -->
<link rel="stylesheet" rel="stylesheet"  href="{{ url_for('static', filename='assets/css/black-dashboard.css')}}"/>

</head>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}{% endblock %}